.advantages {
  padding-top: 80px;
  padding-bottom: 80px;
}

.advantages-list {
  margin-bottom: 40px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #444444;
  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 30px;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mobile {
      grid-template-columns: none;
      grid-template-rows: auto;
      justify-content: center;
    }
  }
}

.advantages-item {
  padding-left: 40px;
  position: relative;
  background-image: url(../../img/done.svg);
  background-position: left center;
  background-repeat: no-repeat;

  &__text {
    color: var(--light-color);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
  }
}
