<section class="about" id="about">
  <div class="container">
    <div class="title-wrapper">
      <h2 class="main-title">Быстро, выгодно, удобно!</h2>
      <span class="title-divider"></span>
      <p class="main-descr">
        “РЕЗЕРВ” Всегда готов придти на помощь, быстро выдать займ на выгодных
        условиях под залог техники, инструмента и ювелирных изделий.
      </p>
    </div>

    <h3 class="about__title">
      В продаже большой ассортимент техники, <br />
      инструмента и ювелирных изделий:
    </h3>

    <ul class="list-reset about__list">
      <li class="about__list-item">
        Бытовая техника и электроника
        <div class="about__list-hover">
          <button class="btn-reset main-btn">
            <span>Узнать наличие товара</span>
          </button>
        </div>
      </li>
      <li class="about__list-item">
        Инструменты
        <div class="about__list-hover">
          <button class="btn-reset main-btn">
            <span>Узнать наличие товара</span>
          </button>
        </div>
      </li>
      <li class="about__list-item">
        Ювелирные изделия
        <div class="about__list-hover">
          <button class="btn-reset main-btn">
            <span>Узнать наличие товара</span>
          </button>
        </div>
      </li>
    </ul>
    <p class="about__text">
      Уточнить наличие нужного товара и его стоимость, <br />
      Вы можете по телефону <br /><br />
      <a href="tel:+7000000000" class="about__text-link">+7 (000) 000 00 00</a>
    </p>
    <button class="btn-reset main-btn hero__btn about__btn modal-btn">
      <span>Заказать звонок</span>
    </button>
  </div>
</section>
