<section class="advantages" id="advantages">
  <div class="container">
    <div class="title-wrapper">
      <h2 class="main-title">Наши преимущества</h2>
      <span class="title-divider"></span>
      <p class="main-descr">
        Убедитесь в отличном обслуживании и хороших условиях займов для Вас!
      </p>
    </div>
  </div>
  <ul class="list-reset advantages-list">
    <div class="container advantages-list__container">
      <li class="advantages-item">
        <p class="advantages-item__text">Низкий процент по займам.</p>
      </li>
      <li class="advantages-item">
        <p class="advantages-item__text">Дорого и быстро оцениваем.</p>
      </li>
      <li class="advantages-item">
        <p class="advantages-item__text">Лояльная система скидок.</p>
      </li>
      <li class="advantages-item">
        <p class="advantages-item__text">Всё принимаем-всё продаём.</p>
      </li>
      <li class="advantages-item">
        <p class="advantages-item__text">
          Весь товар проходит предпродажную подготовку.
        </p>
      </li>
      <li class="advantages-item">
        <p class="advantages-item__text">Низкие цены на б/у и новый товар.</p>
      </li>
      <li class="advantages-item">
        <p class="advantages-item__text">Индивидуальный подход.</p>
      </li>
    </div>
  </ul>
  <button class="btn-reset main-btn hero__btn about__btn modal-btn">
    <span>Заказать звонок</span>
  </button>
</section>
