<section class="advantages" id="advantages">
  <div class="container">
    <div class="title-wrapper">
      <h2 class="main-title">Наши преимущества</h2>
      <span class="title-divider"></span>
      <p class="main-descr">
        Убедитесь в отличном обслуживании и хороших условиях займов для Вас!
      </p>
    </div>
  </div>
  <!-- /.container -->
  <ul class="list-reset advantages-list">
    <div class="container advantages-list__container">
      <li class="advantages-item">
        <p class="advantages-item__text">Займ под залог</p>
        <img
          class="advantages-item__profit"
          src="../img/profit.svg"
          alt="profit"
        />
      </li>
      <!-- /.advantages__list-item -->
      <li class="advantages-item">
        <p class="advantages-item__text">Высокая оценка вашей вашей техники</p>
      </li>
      <!-- /.advantages__list-item -->
      <li class="advantages-item">
        <p class="advantages-item__text">
          Ясность и прозрачность при оформлении займа
        </p>
      </li>
      <!-- /.advantages__list-item -->
    </div>
    <!-- /.container -->
  </ul>
  <!-- /.advantages__list -->
  <button class="btn-reset main-btn hero__btn about__btn modal-btn">
    <span>Заказать звонок</span>
  </button>
</section>
<!-- /.advantages -->
