<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="main-title contacts__title">Наши контакты</h2>
  </div>

  <div class="contacts__wrapper">
    <div id="map" class="contacts__map">
      <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU"></script>
    </div>
    <ul class="list-reset contacts-list">
      <li class="contacts-item contacts-item__adress">
        Адрес. г. Красноярск. Ул.Воронова 12а.
      </li>
      <li class="contacts-item">
        <a href="tel:+79676087585" class="contacts-item__phone"
          >+7 967 608 75 85</a
        >
      </li>
      <li class="contacts-item">
        <a href="tel:±79535855190" class="contacts-item__phone"
          >+7 953 585 51 90</a
        >
      </li>
      <li class="contacts-item">
        <a href="mailto:voronovarezerv@gmail.com" class="contacts-item__mail"
          >voronovarezerv@gmail.com</a
        >
      </li>
      <li class="contacts-item">
        <a
          href="https://vk.com/app7596172#panel=foreign_profile&userId=5847c2891c403100b3c4fa82"
          class="contacts-item__vk"
          ><img src="../img/vk.svg" alt="vk-link"
        /></a>
      </li>
      <li class="contacts-item contacts-item__worktime">
        Режим работы: круглосуточно. <br />
        Без обеда и выходных.
      </li>
      <li class="contacts-item">ИП "Приходько Николай Александрович"</li>
      <li class="contacts-item">ИНН 246214808647</li>
      <li class="contacts-item">ОГРН/ОГРНИП 322911200024411</li>
    </ul>
  </div>
</section>
