<section class="feedback" id="feedback">
  <div class="container">
    <h2 class="main-title feedback__title">Отзывы наших клиентов</h2>

    <ul class="list-reset feedback-list">
      <li class="feedback-item">
        <p class="feedback-item__text">
          Я занимаюсь ремонтом квартир в Красноярске и часто пользуюсь услугами
          кампании Резерв, покупаю инструмент для работы, всегда большой выбор и
          отличное состояние! Почти новый товар можно купить по суть за пол
          цены, мне это очень нравится! Спасибо большое ребята, желаю вам
          процветания и удачи!
        </p>

        <div class="feedback-item__author">
          <figure class="feedback-item__avatar">
            <img src="../img/photo-1.jpg" alt="photo-1" />
          </figure>
          <div class="feedback-item__name">Плотников Вячеслав</div>
        </div>
      </li>
      <li class="feedback-item">
        <p class="feedback-item__text">
          Огромная благодарность коллективу комиссионного магазина РЕЗЕРВ, я
          домохозяйка и люблю, когда дома порядок и не храню старые вещи, раньше
          я продавала ненужные предметы быта на Авито, но мне не нравилось, что
          люди постоянно торгуются, могут опоздать и приехать не вовремя и так
          далее <span class="feedback-item__dots">...</span
          ><span class="feedback-item__more-text">
            – это меня всегда напрягало. Однажды я зашла в РЕЗЕРВ и с тех пор
            продаю всю ненужную мне технику только им – пришла, ребята быстро
            оценили (оценивают отлично на авито дороже не продать если честно),
            получила свои деньги и довольная пошла дальше, не нужно никого ждать
            и тому подобное, еще мне нравится их сервис – все приветливые и
            улыбаются. Спасибо вам))
          </span>
        </p>
        <button class="btn-reset feedback-item__more-btn">
          Читать полностью
        </button>

        <div class="feedback-item__author">
          <figure class="feedback-item__avatar">
            <img src="../img/photo-2.jpg" alt="photo-2" />
          </figure>
          <div class="feedback-item__name">Золотова Екатерина</div>
        </div>
      </li>
      <li class="feedback-item">
        <p class="feedback-item__text">
          Хочу выразить благодарность магазину РЕЗЕРВ, я люблю золото и храню в
          нем накопления, когда срочно нужны деньги закладываю у них часть
          своего запаса. Почему именно они? Быстрое оформление, адекватный
          процент. Рекомендую. Успехов вам!
        </p>

        <div class="feedback-item__author">
          <figure class="feedback-item__avatar">
            <img src="../img/photo-3.jpg" alt="photo-3" />
          </figure>
          <div class="feedback-item__name">Алексеева Виктория</div>
        </div>
      </li>
    </ul>
    <button class="btn-reset main-btn hero__btn about__btn modal-btn">
      <span>Заказать звонок</span>
    </button>
  </div>
</section>
