<footer class="footer" id="footer">
  <div class="container">
    <h2 class="main-title footer__title status-form">Остались вопросы?</h2>

    <form method="post" class="form footer-form">
      <label class="footer-form__field form-send">
        <input
          class="input-reset footer-form__input"
          type="text"
          name="name"
          placeholder="Имя"
        />
      </label>
      <label class="footer-form__field form-send">
        <input
          class="input-reset footer-form__input"
          type="tel"
          name="phone"
          placeholder="Номер телефона"
        />
      </label>
      <label class="footer-form__field form-send">
        <input
          class="input-reset footer-form__input"
          type="text"
          name="text"
          placeholder="Вопрос"
        />
      </label>
      <button
        class="btn-reset main-btn footer-form__btn form-send"
        type="submit"
      >
        <span>Отправить</span>
      </button>
    </form>

    <div class="footer__divider"></div>

    <div class="footer__copyright">
      <a href="https://ghost-marketing.ru" class="footer__ghost-marketing-link"
        ><img src="../img/gm-logo.svg" alt="gh-logo" />
        <p class="footer__ghost-marketing-text">
          Сайт и его продвижение – дело рук и мозгов <br />
          компании GHOST MARKETING
        </p></a
      >

      <p class="footer__copyright-text">
        ИП "Приходько Николай Александрович" <br />
        2010 - 2022
      </p>
    </div>
  </div>
</footer>
