<header class="header" id="header">
  <div class="container header--container">
    <img class="header__logo" src="../img/logo.svg" alt="header-logo" />
    <nav class="nav">
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a href="#hero" class="nav__link" data-scroll>Главная</a>
        </li>
        <li class="nav__item">
          <a href="#require" class="nav__link" data-scroll>Условия</a>
        </li>
        <li class="nav__item">
          <a href="#advantages" class="nav__link" data-scroll>Преимущества</a>
        </li>
        <li class="nav__item">
          <a href="#feedback" class="nav__link" data-scroll>Отзывы</a>
        </li>
        <li class="nav__item">
          <a href="#contacts" class="nav__link" data-scroll>Контакты</a>
        </li>
      </ul>
      <a href="tel:+79676087585" class="header__phone nav__phone"
        >+7 967 608 75 85</a
      >
    </nav>
    <a href="tel:+79676087585" class="header__phone">+7 967 608 75 85</a>
    <button
      class="btn-reset burger"
      aria-expanded="false"
      aria-label="Открыть меню"
    >
      <span class="burger__line"></span>
    </button>
  </div>
</header>
