<section class="hero" id="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        Скупка, продажа бытовой <br />
        техники и инструмента
      </h1>
      <p class="hero__descr">
        Займы под залог техники <br />
        и ювелирных изделий
      </p>
      <button class="btn-reset main-btn hero__btn modal-btn">
        <span>Заказать звонок</span>
      </button>
    </div>
  </div>
</section>
<div class="hero__progress">
  <div class="container">
    <ul class="list-reset hero__progress-list">
      <li class="hero__progress-item">
        <span class="hero__progress-number" data-val="7">0</span>
        <p class="hero__progress-descr">Лет на рынке</p>
      </li>
      <li class="hero__progress-item">
        <span class="hero__progress-number" data-val="9325">0</span>
        <p class="hero__progress-descr">Сделок</p>
      </li>
      <li class="hero__progress-item">
        <span class="hero__progress-number" data-val="3107">0</span>
        <p class="hero__progress-descr">Клиентов</p>
      </li>
    </ul>
  </div>
</div>
