<div class="modal__wrapper" id="modal-form">
  <div class="modal">
    <div class="modal__close">x</div>
    <div class="modal__title">
      <span class="status-form">Заказать звонок</span>
    </div>
    <div class="modal__body">
      <form action="#" class="form modal-form">
        <label class="modal-form__field">
          <input
            class="input-reset modal-form__input"
            type="text"
            name="name"
            placeholder="Имя"
            required
          />
        </label>
        <label class="modal-form__field">
          <input
            class="input-reset modal-form__input"
            type="tel"
            name="phone"
            placeholder="Номер телефона"
            required
          />
        </label>
        <label class="modal-form__field">
          <input
            class="input-reset modal-form__input"
            type="text"
            name="message"
            placeholder="Ваш вопрос"
          />
        </label>
        <button class="btn-reset main-btn modal-form__btn" type="submit">
          <span>Отправить</span>
        </button>
      </form>
    </div>
  </div>
</div>
