<section class="process" id="process">
  <div class="container">
    <div class="title-wrapper">
      <h2 class="main-title">Как мы работаем с клиентами</h2>
      <span class="title-divider"></span>
      <p class="main-descr">От начала встречи, до займа всего 5 минут!</p>
    </div>

    <ul class="list-reset process-list">
      <li class="process-item">
        <span class="process-item__number">01</span>
        <p class="process-item__text">Приходите в наш офис</p>
      </li>
      <li class="process-item">
        <span class="process-item__number">02</span>
        <p class="process-item__text">
          Осмотр и оценка вашей техники или ювелирного изделия
        </p>
      </li>
      <li class="process-item">
        <span class="process-item__number">03</span>
        <p class="process-item__text">Подписание бумаг</p>
      </li>
      <li class="process-item">
        <span class="process-item__number">04</span>
        <p class="process-item__text">Деньги у вас</p>
      </li>
    </ul>

    <div class="process__info">
      <p class="process__info-text">
        Узнать наличие интересующего вас товара в продаже или цену по которой мы
        у вас приобретаем товар вы можете по телефону:
      </p>

      <a href="tel:+79676087585" class="process__info-phone"
        >+7 967 608 75 85</a
      >

      <p class="process__info-worktime">Работаем: 24/7</p>
    </div>

    <button class="btn-reset main-btn hero__btn about__btn modal-btn">
      <span>Заказать звонок</span>
    </button>
  </div>
</section>
