<section class="require" id="require">
  <div class="container">
    <h2 class="main-title require__title">Выгодные и прозрачные условия</h2>
    <ul class="require-list">
      <li class="require-item">
        <p class="require-item__text">
          Займ выдаётся под залог при наличии документа удостоверяющего личность
          (паспорт).
        </p>
      </li>
      <li class="require-item">
        <p class="require-item__text">
          Срок предостовляемого займа от 5 дней, с правом <br />
          продления договора займа.
        </p>
      </li>
      <li class="require-item">
        <p class="require-item__text">
          Процент пересчитывается по факту дней залога.
        </p>
      </li>
      <li class="require-item">
        <p class="require-item__text">Возраст от 18 лет.</p>
      </li>
      <li class="require-item">
        <p class="require-item__text">
          Оплата процентов только за фактическое пользование займом.
        </p>
      </li>
      <li class="require-item">
        <p class="require-item__text">
          Возможность гасить займ частями, без взимания дополнительной оплаты.
        </p>
      </li>
      <li class="require-item">
        <p class="require-item__text">
          Займ выдаётся без скрытых комиссий и дополнительных платежей.
        </p>
      </li>
      <li class="require-item">
        <p class="require-item__text">
          Всегда пойдём на встречу если вы не успеваете выкупить свой залог.
        </p>
      </li>
    </ul>
    <button class="btn-reset main-btn hero__btn about__btn modal-btn">
      <span>Заказать звонок</span>
    </button>
  </div>
</section>
